/* Til detalje side */

#single {
  background-color: white;
}

#detaljer {
  font-weight: bold;
  text-decoration: underline;
}

#single hr {
  margin-bottom: 1em;
  margin-top: 0;
  border: 1px solid grey;
  width: 70%;
}

#single img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#single p {
  font-size: 1.6em;
  line-height: 37px;
  padding-left: 2em;
}

#single {
  background-color: #d1cccc;
}

#single h2 {
  text-align: center;
  font-size: 2em;
}

#tilbage_knap {
  font-size: 1.4em;
  margin-top: 1em;
  margin-left: 1em;
}

button {
  background-image: linear-gradient(
    to right,
    #314755 0%,
    #879196 51%,
    #314755 100%
  );
}
button {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  transition: all 0.2s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  display: block;
  margin-bottom: 2em;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

button:hover {
  scale: 1.1;
}

nav .valgt {
  scale: 1.35;
}

/*  Hovedside */

.burger div {
  width: 100%;
  height: 5px;
  background-color: white;
  margin: 10px 0;
  transition: 0.4s;
  border-radius: 10px;
}

#burger_knap {
  position: absolute;
  display: none;
  top: 96.5rem;
  right: 3rem;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 3em;
  animation-duration: all 0.5s;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-iteration-count: 1;
}

#burger_knap {
  display: flex;
}

.ryk {
  transform: translateX(-30px);
}

.fra_siden {
  animation-name: fra_siden_kf;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

@keyframes fra_siden_kf {
  from {
    transform: translateX(-70vw);
  }

  to {
    transform: translateX(0vw);
  }
}

article {
  padding: 10px;
  margin: 1em;
  background-color: #8f969c;
  cursor: pointer;
}

article:hover {
  opacity: 0.5;
}

#single:hover {
  opacity: 1;
  cursor: default;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url(img/bistro.jpg);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-position: 40% 60%;
}

.background p {
  padding-left: 2em;
  padding-left: 2em;
  font-size: 1.3rem;
  color: white;
  grid-row: 1;
  grid-column: 1/5;
}

img {
  max-width: 100%;
  background-size: cover;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  overflow-x: auto;
  margin-top: 3em;
}

body {
  background-color: #6d6d6e;
}

#menuOverskrift {
  font-size: 2.5rem;
  padding-left: 0.4em;
  margin-bottom: 0;
  text-align: left;
  color: white;
}

.skjult {
  display: flex;
}

.hidden {
  display: none;
}

h1 {
  font-family: "Alegreya Sans", sans-serif;
}

h2 {
  font-family: "Russo One", sans-serif;
}

h3 {
  font-size: 1.8em;
  font-family: "Alegreya Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 26px;
  margin-bottom: 5px;
  font-weight: 350;
  font-family: "Alegreya Sans", sans-serif;
}

footer,
.kontakt {
  background-color: #333;
  padding: 2rem;
}

footer .kontakt {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer .kontakt p {
  margin-bottom: 1em;
}

footer .kontakt h3 {
  color: white;
  font-weight: 800;
}

footer .kontakt p {
  color: white;
  font-weight: 300;
  opacity: 0.7;
}

footer .kontakt p:hover {
  opacity: 1;
}

@media (min-width: 300px) {
  .background h1 {
    padding-left: 2em;
    font-size: 3em;
    color: white;
    grid-row: 4;
    grid-column: 1/6;
  }

  .background h2 {
    font-size: 3.5em;
    padding-left: 2em;
    line-height: 3rem;
    grid-column: 1/6;
    grid-row: 5;
    color: white;
  }

  .background h3 {
    padding-left: 2em;
    font-size: 2em;
    line-height: 2.7rem;
    color: white;
    grid-row: 7;
    grid-column: 1/8;
  }

  button {
    font-size: 1.3em;
  }

  .singleView {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .background h1 {
    padding-left: 1em;
    font-size: 2.3em;
    color: white;
    grid-row: 3;
    grid-column: 1/6;
  }

  .background h2 {
    font-size: 3em;
    padding-left: 1em;
    line-height: 3rem;
    grid-column: 1/6;
    grid-row: 5;
    color: white;
  }

  .background h3 {
    padding-left: 2em;
    font-size: 1.8em;
    line-height: 3rem;
    color: white;
    grid-row: 7;
    grid-column: 1/8;
  }

  .background p {
    font-size: 1.2em;
  }
  #menuOverskrift {
    margin-top: 2em;
  }

  footer .kontakt .adresse h3 {
    font-size: 1.8em;
  }

  footer .kontakt .tider h3 {
    font-size: 1.8em;
  }

  footer {
    height: 0vh;
  }
}

@media (min-width: 760px) {
  footer .kontakt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5%;
    margin-right: 5%;
  }

  .background h1 {
    padding-left: 2em;
    font-size: 3.5rem;
    text-transform: uppercase;
    color: white;
    grid-row: 3;
    grid-column: 2/8;
    line-height: 5rem;
  }

  .background h2 {
    padding-left: 2em;
    font-size: 4rem;
    color: white;
    grid-row: 5;
    grid-column: 2/6;
    line-height: 5rem;
  }

  .background h3 {
    padding-left: 2em;
    font-size: 2rem;
    color: white;
    grid-row: 7;
    grid-column: 2/6;
    line-height: 2.5rem;
  }

  .background p {
    font-size: 1.3rem;
  }

  footer .kontakt {
    padding-top: 7%;
  }
}

@media (max-width: 830px) {
  #tilbage_knap {
    display: flex;
  }
}

@media (min-width: 800px) {
  .background h1 {
    padding-left: 2em;
    font-size: 3.8rem;
    text-transform: uppercase;
    color: white;
    grid-row: 3;
    grid-column: 2/8;
    line-height: 5rem;
  }

  .background h2 {
    padding-left: 2em;
    font-size: 4.3rem;
    color: white;
    grid-row: 5;
    grid-column: 2/6;
    line-height: 5rem;
  }

  .background h3 {
    padding-left: 2em;
    font-size: 2.3rem;
    color: white;
    grid-row: 7;
    grid-column: 2/6;
    line-height: 2.5rem;
  }
  .singleView {
    display: block;
  }
}

@media (min-width: 1300px) {
  .singleView {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1500px) {
  nav {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
  }

  button {
    width: 25%;
    display: block;
    margin: -20px -110px;
    margin-bottom: -20px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-bottom: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 10px;
  }

  #tilbage_knap {
    display: block;
    margin-left: -10em;
    margin-top: 3em;
  }
}

@media (min-width: 1500px) {
  .background h1 {
    padding-left: 2em;
    font-size: 4.7rem;
    text-transform: uppercase;
    color: white;
    grid-row: 3;
    grid-column: 2/8;
    line-height: 5rem;
  }

  .background h2 {
    padding-left: 2em;
    font-size: 5.3rem;
    color: white;
    grid-row: 5;
    grid-column: 2/6;
    line-height: 5rem;
  }

  .background h3 {
    padding-left: 2em;
    font-size: 3rem;
    color: white;
    grid-row: 7;
    grid-column: 2/6;
    line-height: 3.5rem;
  }

  #menuOverskrift {
    font-size: 3.5rem;
  }

  #single h2 {
    font-size: 3.5rem;
  }

  #single p {
    font-size: 2.2em;
    line-height: 3.2rem;
  }

  footer {
    height: 40vh;
  }

  footer p {
    font-size: 2rem;
  }
  footer h2 {
    font-size: 3rem;
  }
}
